<%- include('partials/header')%>
    <%- include('partials/preloader')%>
    <%- include('partials/nav')%>
    <main class="container" id="signup" style="min-height: 60vh; height: fit-content;">
        <form style="width: 300px; font-size: 20px; text-align: center; display: grid; justify-items: center; margin: auto;">
            <p>Message received! Thank you for reaching out to us. Your inquiry is important to us, and we will respond to you as soon as possible. While you wait, feel free to explore other sections of our website for more information and updates.</p>
            <a href="/" class="btn41-43 btn-41">home</a>
        </form>    
    </main>
    <%- include('partials/footermain') %>
<%- include('partials/footer')%>